body {
  font: 12px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.label {
  font-size: 10px;
}

.dot {
  stroke: #000;
}

.dot:hover {
  cursor: pointer;
}

.scatterplot {
  width: 600px;
  margin: 50px auto;
  border: 2px dotted black;

  .equation {
    font: 24px sans-serif;
    color: #1CDEC4;
    text-align: center;
    max-width: 250px;
    margin: 0 auto;
  }

  .add {
    color: hsl(180,60%,40%);
    font-weight: bold;
  }

  .add:hover {
    cursor: pointer;
  }

  .menu, .instructions {
    width: 225px;
  }

  .diymenu {
    width: 420px;
  }

  .menu, .diymenu {
    font: 12px sans-serif;
    padding: 0 0 0 10px;
    margin: 0 auto;

    .instructions {
      margin: 0 auto;
    }

    .row {
      margin-bottom: 30px;
    }

    #formula {
      padding-left: 40px;
      text-align: center;
    }

    #diyvals {
      max-width: 175px;
      margin: 0 auto;
      float: left;

      .inputs {
        float: left;
      }

      .form-group {
        float: right;
      }

      #diyrun {
        margin: 5px 0;
        float: right;
      }
    }

    #num-iters {
      margin: 45px 10px 0 auto;
      float: right;

      p {
        font-weight: bold;
      }
    }
  }
}

.sampledot {
  stroke: #000;
  fill: #fff;
}

.text {
  padding: 20px;

  p {
    margin-top: 0;
  }

  #special {
    font-family: georgia;
    margin-left: 60px;
  }
}

.explanation {
  width: 600px;
  margin: 50px auto;
  border: 2px dotted black;

  #run {
    color: hsl(180,60%,40%);
    font-weight: bold;
  }

  #run:hover {
    cursor: pointer;
  }

  #samplescatterplot {
    width: 480px;
    margin: 0 auto 20px;
  }
}

.clearfix {
  overflow: auto;
}
