body {
  font: 12px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.label {
  font-size: 10px;
}

.dot {
  stroke: #000;
}

.dot:hover {
  cursor: pointer;
}

.scatterplot {
  width: 600px;
  margin: 50px auto;
  border: 2px dotted black;

  #equation {
    font: 24px sans-serif;
    color: #1CDEC4;
    text-align: center;
    max-width: 250px;
    margin: 0 auto;
  }

  #menu {
    font: 12px sans-serif;
    width: 225px;
    padding: 0 0 0 10px;
    margin: 0 auto;

    #add {
      color: hsl(180,60%,40%);
      font-weight: bold;
    }

    #add:hover {
      cursor: pointer;
    }
  }
}

.explanation {
  width: 600px;
  margin: 50px auto;
  border: 2px dotted black;
}
