extends _partials/_layout.jade

block content
  .scatterplot
    #equation
    #scatterplot
    #menu
      p click to add a . . .
        span#add  dot
      p and click dots to remove them from graph
  .explanation
    .text
      p Univariate linear regression is a tool to predict future outcomes given a set information about past occurences. "Univariate" just means "having one variable".
      p In our graph above, "x" and "y" could represent anything. Let's say, for example, "x" represents the population of a city, and "y" represents the profits a food truck makes in that city.
      p Each point on the graph represents a city with a population size of "x" and profits of "y" dollars.
      p If there is a linear correlation ("linear" simply meaning "shaped like a straight line"), between population and profits, then we will be able to find the line that fits between these data points such that it expresses a trend. We can use this trend to predict future outcomes.
      p Click
        span#run  this
        |  to see such a thing.
    #samplescatterplot
