doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    block title
      title Univariate Linear Regression
    link(rel="stylesheet", href="css/main.css")
    link(rel="icon" type="image/png" href="./favicon.ico")
  body
    include _header

    .container
      block content

    include _footer
    script(src="lib/build.js")
    script(src="js/functions.js")
    script(src="js/scatterplot.js")
    script(src="js/samplescatterplot.js")
    script(src="js/diyscatterplot.js")
